.slider_brands_index .owl-stage-outer {
  padding: 5px 15px 30px;
  margin: 0 -15px;
}
.slider_brands_index .owl-item {
  transition: all 0.3s;
}
.slider_brands_index .owl-item a, .slider_brands_index .owl-item span {
  display: block;
  height: 120px;
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(163, 163, 163, 0.15);
  border-radius: 16px;
  padding: 16px;
}
.slider_brands_index .owl-item a img, .slider_brands_index .owl-item span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider_brands_index .owl-item:hover {
  transform: translateY(-7px);
}

.products_offer .tab-content {
  padding-bottom: 82px;
}

.header_products_offer {
  display: flex;
  margin-bottom: 30px;
  align-items: baseline;
  min-height: 40px;
}
.header_products_offer__title {
  margin-left: 24px;
}
.header_products_offer__title .title {
  font-weight: 600;
  font-size: 1.8461538462em;
  color: #000000;
}
.header_products_offer__title .icon {
  background: #98C200;
  border: 1px solid #FFFFFF;
  box-shadow: 2px 3px 7px rgba(193, 134, 255, 0.25);
  border-radius: 8px;
  font-size: 20px;
  color: #FFF;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}
.header_products_offer__link {
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: 500;
  font-size: 1.3846153846em;
  line-height: 25px;
  text-align: center;
  color: #7F7D7E;
}
.header_products_offer__link i {
  font-size: 10px;
}
.header_products_offer__link:hover {
  color: #98C200;
  gap: 16px;
}
.header_products_offer .tab-title {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-grow: 1;
  font-weight: 400;
  font-size: 1.2307692308em;
  color: #464646;
  cursor: pointer;
  overflow: scroll;
  padding-bottom: 10px;
}
.header_products_offer .tab-title .item {
  white-space: nowrap;
  transition: all 0.3s;
}
.header_products_offer .tab-title .item.active {
  font-weight: 600;
  font-size: 1.3846153846em;
  color: #98C200;
}

.products_offer_slider .owl-stage-outer {
  padding: 20px 10px;
  margin: 0 -10px;
}

.box_products_offer {
  position: relative;
}
.box_products_offer::before {
  position: absolute;
  content: "";
  background-image: url("../img/back-offer.png");
  bottom: 0;
  left: 0;
  right: 0;
  height: 350px;
  background-size: cover;
}

.content_products_offer {
  position: relative;
}
.content_products_offer::before {
  position: absolute;
  content: url("../img/wave-offer-section.svg");
  bottom: -8px;
  right: 50%;
  width: 287px;
  transform: translate(50%);
}

.section-banners .item-banner {
  display: block;
  overflow: hidden;
  border-radius: 24px;
  position: relative;
}
.section-banners .item-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  overflow: hidden;
}
.section-banners .item-banner:hover:before {
  animation: shine 1.25s;
}
.section-banners .item-banner:hover img {
  transform: scale(1.03);
}
.section-banners .item-banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: -105%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 233, 233, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 232, 232, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  pointer-events: none;
}

.box_slider_header {
  position: relative;
}
.box_slider_header:before {
  position: absolute;
  content: url("../img/svg_slider_header.svg");
  width: 293px;
  z-index: 99;
  bottom: -8px;
  right: 9px;
}

.slider_header .owl-stage-outer {
  background: #6C99F4;
  border-radius: 23.8899px;
  height: 420px;
}
.slider_header .owl-stage-outer .owl-stage {
  height: 100%;
}
.slider_header .owl-stage-outer .owl-stage .owl-item {
  height: 100%;
}
.slider_header .owl-stage-outer .owl-stage .owl-item .item {
  height: 100%;
}
.slider_header .owl-stage-outer .owl-stage .owl-item img {
  height: 100%;
  object-fit: cover;
}

.box_offer_day {
  box-shadow: 0px 2px 7px rgba(185, 185, 185, 0.25);
  border-radius: 12px;
  overflow: hidden;
  padding: 16px;
  height: 100%;
}
.box_offer_day .offer_day_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 0.5px solid #DEDEDE;
}
.box_offer_day .offer_day_head span {
  font-weight: 600;
  font-size: 0.9230769231em;
  display: flex;
  color: #FF3E14;
  white-space: nowrap;
}
.box_offer_day .offer_day_head .timer {
  position: relative;
  background: #EBEBEB;
  border-radius: 6px;
  width: 70%;
  height: 4px;
}
.box_offer_day .offer_day_head .timer .line {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(270.04deg, #FF3E14 6.94%, #FFB19F 95.11%);
  border-radius: 8px;
}
.box_offer_day .slider_offer_day .item_slider_offer_day {
  background: #FFFFFF;
}
.box_offer_day .slider_offer_day .item_slider_offer_day .img {
  position: relative;
  z-index: 99;
  margin-bottom: 10px;
  display: block;
}
.box_offer_day .slider_offer_day .item_slider_offer_day .img img {
  width: 133px;
  height: 230px;
  z-index: 99;
  display: block;
  margin: 0 auto;
  padding-top: 4px;
  object-fit: contain;
}
.box_offer_day .slider_offer_day .item_slider_offer_day .img:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 167px;
  background: radial-gradient(97.69% 97.69% at 50.18% 97.69%, #DB5E4E 0%, #FFB6B6 100%);
  border-radius: 8px;
}
.box_offer_day .slider_offer_day .item_slider_offer_day h2 {
  font-weight: 500;
  font-size: 1.2307692308em;
  color: #253343;
  margin-bottom: 10px;
  line-height: 1.7em;
  max-height: 54px;
}

.list_categoris {
  display: flex;
  align-items: center;
  column-gap: 88px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.item_categoris {
  z-index: 99;
  width: 130px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  cursor: pointer;
  height: 200px;
  margin: 0 auto;
}
.item_categoris__img {
  position: relative;
  transition: all 0.3s;
}
.item_categoris__img img {
  display: block;
  margin: auto auto;
}
.item_categoris__title {
  font-weight: 500;
  font-size: 1.0769230769em;
  color: #464646;
  display: block;
  text-align: center;
  transition: all 0.3s;
}
.item_categoris:hover .item_categoris__img {
  transform: scale(1.04);
}
.item_categoris:hover .item_categoris__img::before {
  box-shadow: 0px 0px 20px -2px rgba(185, 185, 185, 0.35);
}
.item_categoris:hover .item_categoris__title {
  font-weight: 500;
  font-size: 1.2307692308em;
  color: #000000;
}

.box_list_best_sellers .header-slider {
  display: none;
}

.list_best_sellers {
  display: flex;
  align-items: stretch;
  gap: 25px;
}
.list_best_sellers .banner {
  width: 530px;
  position: relative;
  background: #EA3174;
  border-radius: 24px;
  overflow: hidden;
}
.list_best_sellers .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.list_best_sellers .banner:before {
  position: absolute;
  content: url("../img/svg_slider_header.svg");
  width: 248px;
  z-index: 99;
  bottom: -8px;
  right: 0;
}
.list_best_sellers .list_product {
  width: 55%;
  position: relative;
}
.list_best_sellers .list_product .owl-carousel {
  width: 100% !important;
}
.list_best_sellers .list_product .owl-carousel .owl-stage-outer {
  width: 100%;
  padding: 6px 8px;
  margin: 0 -8px;
}
.list_best_sellers .list_product::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  background: linear-gradient(78.01deg, #FFFFFF 22.17%, rgba(255, 255, 255, 0) 91.85%);
  z-index: 99;
}
.list_best_sellers .box-des {
  display: none;
}
.list_best_sellers .box-des .title {
  font-weight: 600;
  font-size: 1.8461538462em;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}
.list_best_sellers .box-des .des {
  font-weight: 400;
  font-size: 1.2307692308em;
  color: #FFFFFF;
  text-align: center;
  line-height: 1.7em;
  margin-bottom: 33px;
}
.list_best_sellers .box-des .link {
  font-weight: 500;
  font-size: 1.0769230769em;
  text-align: center;
  color: #EA3174;
  display: flex;
  gap: 12px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 7px rgba(88, 88, 88, 0.2);
  border-radius: 8px;
  min-width: 106px;
  min-height: 28px;
}
.list_best_sellers .box-des .link i {
  font-size: 10px;
}
.list_best_sellers .box-des .link:hover {
  gap: 15px;
}

.navigation_slider {
  position: absolute;
  bottom: 14px;
  right: 40px;
  z-index: 99;
  display: flex;
  gap: 10px;
}
.navigation_slider .navigation_slider_arrow {
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(162, 162, 162, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  font-size: 15px;
  padding: 10px 35px 7px;
  color: #DEDEDE;
  cursor: pointer;
  line-height: 1;
  transition: all 0.5s;
}
.navigation_slider .navigation_slider_arrow:hover {
  box-shadow: 0px 9px 7px -3px rgba(185, 185, 185, 0.3);
  color: #5201A8;
}
.navigation_slider.best-saller {
  bottom: 8px;
  right: 10px;
}
.navigation_slider.offer {
  bottom: 0;
  right: 50%;
  transform: translate(50%);
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

/*# sourceMappingURL=home.css.map */
