$px12: 0.9230769230769231em;
$px13: 1em;
$px14: 1.0769230769230769em;
$px15: 1.1538461538461537em;
$px16: 1.2307692307692308em;
$px17: 1.3076923076923077em;
$px18: 1.3846153846153846em;
$px19: 1.4615384615384615em;
$px20: 1.5384615384615385em;
$px21: 1.6153846153846154em;
$px22: 1.6923076923076923em;
$px23: 1.7692307692307692em;
$px24: 1.8461538461538463em;
$px25: 1.9230769230769231em;
$px26: 2em;
$px27: 2.076923076923077em;
$px28: 2.1538461538461537em;
$px29: 2.230769230769231em;
$px30: 2.3076923076923075em;


body {
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #fff;
  font-family: peyda;
  font-size: 13px;
  direction: rtl;
  text-align: right;
  font-weight: 500;


}

.wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;

}

::selection {
  background: #0078C1;
  color: #fff;
}

@media (min-width: 1300px) {
  .container--1300 {
    max-width: 1300px;
  }
}


.pf-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.pf-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.pf-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.m-100 {
  margin-bottom: 100px;
}

.p30 {
  margin-right: -15px;
  margin-left: -15px;
  align-items: flex-start;

  > [class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: unset;
    }
  }
}

.p90 {
  margin-right: -45px;
  margin-left: -45px;

  > [class*=col-] {
    padding-left: 45px;
    padding-right: 45px;
  }
}


a {
  color: unset;
}

.header-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  span {
    font-weight: 600;
    font-size: $px24;
    color: #464646;
  }

  a {
    font-weight: 500;
    font-size: $px14;
    color: #7F7D7E;
    display: flex;
    align-items: center;
    gap: 13px;
  }

}

//slider product
.swiper_category_product {
  margin-bottom: 80px;

  .owl-stage-outer {
    padding: 6px 0 24px;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      transform: rotate(180deg);
      width: 176px;
      z-index: 99;
    }

    &:after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(270deg, #FFFFFF 4%, rgba(255, 255, 255, 0) 100%), linear-gradient(270deg, #FFFFFF 4%, rgba(255, 255, 255, 0) 100%);
      transform: rotate(-180deg);
      width: 221px;
      z-index: 99;
    }
  }
}

//slider blog


//footer
footer {
  padding: 45px 0 73px;

  .footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    .title_link {
      font-weight: 600;
      font-size: $px14;
      line-height: 16px;
      color: #000000;
      display: block;
      margin-bottom: 25px;
    }

    .list_link {
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
          font-weight: 500;
          font-size: $px12;
          color: #445A74;

          &:hover {
            color: #5201A8;
          }

          a {
            padding: 15px 0;
          }
        }

      }
    }

    .mailchimp {
      display: flex;
      flex-direction: column;
      gap: 17px;

      .title_link {
        margin-bottom: 10px;
      }

      p {
        font-weight: 500;
        font-size: $px12;
        color: #7F7D7E;
      }

      form {
        display: flex;
        align-items: stretch;
        gap: 15px;

        input {
          border: 1px solid #DEDEDE !important;
          border-radius: 8px !important;
          padding: 11px 15px !important;
        }

        button {
          background: #5201A8;
          border-radius: 10px;
          color: #FFFFFF;
          font-weight: 600;
          font-size: $px12;
          font-family: inherit;
          padding: 10px 13px;
        }
      }

    }

    .social_media {
      display: flex;
      align-items: center;
      gap: 36px;

      li {
        font-size: $px20;
        color: #7F7D7E;
        transition: all 0.3s;

        &:hover {
          color: #5201A8;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info-site {
      display: flex;
      align-items: flex-start;
      gap: 18px;
      max-width: 56%;
      font-weight: 500;
      font-size: $px14;
      line-height: 1.6;
      color: #30445B;

      .des {
        position: relative;
        margin-bottom: 17px;
        height: 67px;
        overflow: hidden;
        transition: all 1s;

        &.before {
          &:before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: 1px 1px 35px 29px #fff;
          }
        }
      }

      .show-more {
        font-weight: 700;
        font-size: $px12;
        color: #98C200;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        i {
          font-size: 6px;
        }
      }

    }

    .list_documents {
      display: flex;
      align-items: center;
      gap: 24px;

      li {
        background: #FFFFFF;
        box-shadow: 0px 3px 5px rgba(163, 163, 163, 0.1);
        border-radius: 8px;
        padding: 2px 9px;
      }

    }
  }
}

.copy_right {
  padding: 15px;
  background: #F2F2F2;

  span {
    font-weight: 500;
    font-size: $px18;
    color: #30445B;
    text-align: center;
    display: block;
  }
}


//featured-footer
.box-featured-footer {
  padding: 40px 0 35px;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 103px;
    background: #5201A8;
    z-index: -1;
  }
}

.feature-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;

  &__list {
    display: flex;
    gap: 21px;

    li {
      background: #FFFFFF;
      box-shadow: 0px -1px 6px rgba(214, 214, 214, 0.2);
      border-radius: 16px;
      padding: 24px 11px 20px 20px;
      display: flex;
      align-items: center;
      gap: 24px;
      max-width: 307px;

      i {
        font-size: 50px;
      }

      .about {
        display: flex;
        flex-direction: column;
        gap: 11px;

        span {
          font-weight: 600;
          font-size: $px16;
          color: #000000;
        }

        p {
          font-weight: 500;
          font-size: $px12;
          color: #464646;
        }
      }
    }
  }
}


//header
.box-header {
  padding: 27px 0 0;
  margin-bottom: 36px;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #5201A8;
    z-index: -1;
  }
}

.header {
  padding: 16px;
  background: #FFFFFF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 14px 27px -15px rgba(185, 185, 185, 0.25);

  .header-top {
    display: flex;
    justify-content: space-between;

    &__right {
      display: flex;
      gap: 32px;

      form {
        display: flex;
        align-items: center;
        background: #E9EDF5;
        border-radius: 12px;
        padding: 8px 14px 8px;

        input {
          background: unset;
          font-weight: 500;
          font-size: $px13;
          color: #7B93AF;
          padding-right: 32px;
        }

        i {
          font-size: $px12;
        }

        button {
          position: relative;
          background: unset;

          &:before {
            position: absolute;
            content: "";
            background: #D1DBE8;
            width: 1px;
            left: -14px;
            top: 0;
            bottom: 0;
          }
        }
      }
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 28px;

      .basket {
        background: #EEE6F6;
        border-radius: 12px;
        padding: 10px;
        display: flex;
        gap: 10px;
        align-items: center;

        span {
          background: #FFFFFF;
          border-radius: 4px;
          font-weight: 500;
          font-size: $px14;
          color: #5201A8;
          padding: 5px 6px 2px;
          line-height: 1;
        }

        i {
          color: #5201A8;
          font-size: $px20;
        }
      }

      .register {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #5201A8;

        i {
          font-size: $px16;
        }

        span {
          font-weight: 500;
          font-size: $px14;
        }
      }
    }
  }

  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      ul {
        display: flex;
        align-items: center;
        gap: 56px;

        li {
          font-weight: 400;
          font-size: $px14;
          text-align: center;
          color: #464646;
        }
      }
    }

    .call_us {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #5201A8;
      padding: 7px 13px 6px;
      border: 1px solid #5201A8;
      border-radius: 10px;


      span {
        font-weight: 400;
        font-size: $px13;
        direction: ltr;
      }

      i {
        font-size: $px14;
      }
    }
  }
}


//all
.owl-custom-slider {
  .owl-dots {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;

    .owl-dot {
      width: 16px !important;
      height: 4px !important;
      transition: all 0.3s !important;
      background: rgba(200, 239, 0, 0.5) !important;
      border-radius: 8px !important;

      &.active {
        width: 32px !important;
        background: #BDEF00 !important;
        border-radius: 8px !important;
      }
    }
  }
}

.box_price {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: auto;

  &__percent {
    background: #FF3E14;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 10px;
    padding: 5px 7px 2px;
    line-height: 1;
  }

  &__amount {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: end;
    flex-grow: 1;

    .price-main {
      font-weight: 400;
      font-size: $px12;
      line-height: 17px;
      color: #7F7D7E;
      text-decoration: line-through;
    }

    .price-offer {
      ins {
        font-weight: 600;
        font-size: $px14;
        color: #464646;
        text-decoration: none;
      }

      span {
        font-weight: 500;
        font-size: $px12;
        color: #464646;
      }
    }
  }

  &.m-12 {
    margin-bottom: 12px;
  }

}

.out_of_stock_product {
  text-align: center;
  display: block;
  width: 100%;
}


//item product
.item-product {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(210, 210, 210, 0.25);
  border-radius: 16px;
  overflow: hidden;
  padding: 8px 8px 15px;
  height: 335px;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: 400;
    font-size: $px14;
    color: #253343;
  }

  &__img {
    width: 140px;
    height: 185px;
    display: block;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 18px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

  }

  .new {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #98C200;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 10px;
    color: #FFFFFF;
  }

  .timer_post {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__line {
      background: rgba(254, 65, 65, 0.1);
      border-radius: 8px;
      width: 105px;
      height: 4px;
      position: relative;

      span {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        background: #FE4141;
        border-radius: 8px;
      }
    }

    &__day {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 1.3px;
      font-weight: 400;
      font-size: 10px;
      color: #FE4040;
    }
  }

}


//responsive

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1300px) {
  .list_categoris {
    column-gap: 66px;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  //footer
  footer {
    .footer-bottom {
      flex-direction: column;
      gap: 30px;

      .info-site {
        max-width: 100%;
      }
    }

    .footer-top {
      flex-wrap: wrap;
      gap: 50px;
      margin-bottom: 40px;

      .mailchimp {
        width: 100%;
        align-items: center;
      }
    }
  }

  .list_categoris {
    column-gap: 55px;
  }

  .list_best_sellers{
    .banner{
       display: none;
    }
    .list_product{
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  body{
   font-size: 12px;
  }

  //footer
  footer {
    .footer-top {
      flex-wrap: wrap;

      .mailchimp {
        width: unset;
        align-items: unset;
      }
    }
  }


  .swiper_category_product {
    .owl-stage-outer {
      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }



}

@media screen and (max-width: 576px) {
  .list_categoris {
    column-gap: 47px;
  }
}

@media screen and (max-width: 320px) {

}
