body {
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #fff;
  font-family: peyda;
  font-size: 13px;
  direction: rtl;
  text-align: right;
  font-weight: 500;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

::selection {
  background: #0078C1;
  color: #fff;
}

@media (min-width: 1300px) {
  .container--1300 {
    max-width: 1300px;
  }
}
.pf-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.pf-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.pf-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.m-100 {
  margin-bottom: 100px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.p30 {
  margin-right: -15px;
  margin-left: -15px;
  align-items: flex-start;
}
.p30 > [class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 25px;
}
.p30 > [class*=col-]:last-child {
  margin-bottom: unset;
}

.p90 {
  margin-right: -45px;
  margin-left: -45px;
}
.p90 > [class*=col-] {
  padding-left: 45px;
  padding-right: 45px;
}

a {
  color: unset;
}

.header-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header-slider span {
  font-weight: 600;
  font-size: 1.8461538462em;
  color: #464646;
}
.header-slider a {
  font-weight: 500;
  font-size: 1.0769230769em;
  color: #7F7D7E;
  display: flex;
  align-items: center;
  gap: 13px;
  transition: all 0.3s;
}
.header-slider a i {
  font-size: 10px;
}
.header-slider a:hover {
  color: #98C200;
  gap: 16px;
}

.swiper_category_product {
  margin-bottom: 55px;
}
.swiper_category_product .owl-stage-outer {
  padding: 6px 0 24px;
  position: relative;
}
.swiper_category_product .owl-stage-outer:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  transform: rotate(180deg);
  width: 176px;
  z-index: 99;
}
.swiper_category_product .owl-stage-outer:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(270deg, #FFFFFF 4%, rgba(255, 255, 255, 0) 100%), linear-gradient(270deg, #FFFFFF 4%, rgba(255, 255, 255, 0) 100%);
  transform: rotate(-180deg);
  width: 221px;
  z-index: 99;
}

footer {
  padding: 45px 0 73px;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
footer .footer-top .title_link {
  font-weight: 600;
  font-size: 1.0769230769em;
  line-height: 16px;
  color: #000000;
  display: block;
  margin-bottom: 25px;
}
footer .footer-top .list_link ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-top .list_link ul li {
  font-weight: 500;
  font-size: 1em;
  color: #445A74;
}
footer .footer-top .list_link ul li:hover {
  color: #5201A8;
}
footer .footer-top .list_link ul li a {
  padding: 15px 0;
}
footer .footer-top .mailchimp {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
footer .footer-top .mailchimp .title_link {
  margin-bottom: 10px;
}
footer .footer-top .mailchimp p {
  font-weight: 500;
  font-size: 1em;
  color: #7F7D7E;
}
footer .footer-top .mailchimp form {
  display: flex;
  align-items: stretch;
  gap: 15px;
}
footer .footer-top .mailchimp form input {
  border: 1px solid #DEDEDE !important;
  border-radius: 8px !important;
  padding: 11px 15px !important;
}
footer .footer-top .mailchimp form button {
  background: #5201A8;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.9230769231em;
  font-family: inherit;
  padding: 10px 13px;
}
footer .footer-top .social_media {
  display: flex;
  align-items: center;
  gap: 36px;
}
footer .footer-top .social_media li {
  font-size: 1.5384615385em;
  color: #7F7D7E;
  transition: all 0.3s;
}
footer .footer-top .social_media li:hover {
  color: #5201A8;
}
footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom .info-site {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  max-width: 56%;
  font-weight: 500;
  font-size: 1.0769230769em;
  line-height: 1.6;
  color: #30445B;
}
footer .footer-bottom .info-site .des {
  position: relative;
  margin-bottom: 17px;
  height: 67px;
  overflow: hidden;
  transition: all 1s;
}
footer .footer-bottom .info-site .des.before:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 1px 35px 29px #fff;
}
footer .footer-bottom .info-site .show-more {
  font-weight: 700;
  font-size: 0.9230769231em;
  color: #98C200;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
footer .footer-bottom .info-site .show-more i {
  font-size: 6px;
}
footer .footer-bottom .list_documents {
  display: flex;
  align-items: center;
  gap: 24px;
}
footer .footer-bottom .list_documents li {
  background: #FFFFFF;
  box-shadow: 0px 3px 5px rgba(163, 163, 163, 0.1);
  border-radius: 8px;
  padding: 2px 9px;
}

.copy_right {
  padding: 15px;
  background: #F2F2F2;
}
.copy_right span {
  font-weight: 500;
  font-size: 1.3846153846em;
  color: #30445B;
  text-align: center;
  display: block;
}

.box-featured-footer {
  padding-bottom: 35px;
  position: relative;
}
.box-featured-footer:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 103px;
  background: #5201A8;
  z-index: -1;
}

.feature-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.feature-footer__list {
  width: 100%;
  display: flex;
  gap: 21px;
}
.feature-footer__list li {
  background: #FFFFFF;
  box-shadow: 0px -1px 6px rgba(214, 214, 214, 0.2);
  border-radius: 16px;
  padding: 24px 11px 20px 20px;
  display: flex;
  align-items: center;
  gap: 24px;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.feature-footer__list li i {
  font-size: 50px;
}
.feature-footer__list li .about {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.feature-footer__list li .about span {
  font-weight: 600;
  font-size: 1.2307692308em;
  color: #000000;
}
.feature-footer__list li .about p {
  font-weight: 500;
  font-size: 1em;
  color: #464646;
}
.feature-footer__list li::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 50%;
  height: 45%;
  background-color: #AE7AE4;
  z-index: 9;
  top: -80px;
  left: 43px;
  transition: all 0.3s;
}
.feature-footer__list li:hover:before {
  top: -20px;
  left: -62px;
}

.box-header {
  padding: 27px 0 0;
  margin-bottom: 36px;
}
.box-header:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #5201A8;
  z-index: -1;
}

.header {
  padding: 16px;
  background: #FFFFFF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 14px 27px -15px rgba(185, 185, 185, 0.25);
}
.header .search {
  display: flex;
  align-items: center;
  background: #E9EDF5;
  border-radius: 12px;
  padding: 8px 14px 8px;
  transition: all 0.3s;
}
.header .search input {
  background: unset;
  font-weight: 500;
  font-size: 1em;
  color: #7B93AF;
  padding-right: 32px;
  transition: all 0.3s;
}
.header .search i {
  font-size: 0.9230769231em;
}
.header .search button {
  position: relative;
  background: unset;
  transition: all 0.3s;
}
.header .search button:before {
  position: absolute;
  content: "";
  background: #D1DBE8;
  width: 1px;
  left: -14px;
  top: 0;
  bottom: 0;
}
.header .search:hover input {
  padding-left: 37px;
}
.header .search:hover button {
  color: #5201A8;
}
.header .call_us {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #5201A8;
  padding: 7px 13px 6px;
  border: 1px solid #5201A8;
  border-radius: 10px;
}
.header .call_us span {
  font-weight: 400;
  font-size: 1em;
  direction: ltr;
  transition: all 0.3s;
}
.header .call_us i {
  font-size: 1.0769230769em;
}
.header .call_us:hover i {
  animation: rotate 2s 0.2s infinite;
}
.header .header-top {
  display: flex;
  justify-content: space-between;
}
.header .header-top__right {
  display: flex;
  gap: 32px;
}
.header .header-top__left {
  display: flex;
  align-items: center;
  gap: 28px;
}
.header .header-top__left .basket {
  background: #EEE6F6;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .header-top__left .basket span {
  background: #FFFFFF;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.0769230769em;
  color: #5201A8;
  padding: 5px 6px 2px;
  line-height: 1;
}
.header .header-top__left .basket i {
  color: #5201A8;
  font-size: 1.5384615385em;
}
.header .header-top__left .register .button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5201A8;
}
.header .header-top__left .register .button i {
  font-size: 1.2307692308em;
}
.header .header-top__left .register .button span {
  font-weight: 500;
  font-size: 1.0769230769em;
}
.header .header-top__left .call_us {
  display: none;
}
.header .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-bottom .menu ul {
  display: flex;
  align-items: center;
  gap: 56px;
}
.header .header-bottom .menu ul li {
  font-weight: 400;
  font-size: 1.0769230769em;
  text-align: center;
  color: #464646;
  transition: all 0.3s;
}
.header .header-bottom .menu ul li:hover {
  color: #5201A8;
}
.header .header-bottom .search {
  display: none;
}

.owl-custom-slider .owl-dots {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}
.owl-custom-slider .owl-dots .owl-dot {
  width: 16px !important;
  height: 4px !important;
  transition: all 0.3s !important;
  background: rgba(200, 239, 0, 0.5) !important;
  border-radius: 8px !important;
}
.owl-custom-slider .owl-dots .owl-dot.active {
  width: 32px !important;
  background: #BDEF00 !important;
  border-radius: 8px !important;
}

.box_price {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: auto;
}
.box_price__percent {
  background: #FF3E14;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 10px;
  padding: 5px 7px 2px;
  line-height: 1;
}
.box_price__amount {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: end;
  flex-grow: 1;
}
.box_price__amount .price-main {
  font-weight: 400;
  font-size: 0.9230769231em;
  line-height: 17px;
  color: #7F7D7E;
  text-decoration: line-through;
}
.box_price__amount .price-offer ins {
  font-weight: 600;
  font-size: 1.0769230769em;
  color: #464646;
  text-decoration: none;
}
.box_price__amount .price-offer span {
  font-weight: 500;
  font-size: 0.9230769231em;
  color: #464646;
}
.box_price.m-12 {
  margin-bottom: 12px;
}

.out_of_stock_product {
  text-align: center;
  display: block;
  width: 100%;
}

.item-product {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(210, 210, 210, 0.25);
  border-radius: 16px;
  overflow: hidden;
  padding: 8px 8px 15px;
  height: 335px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
.item-product h2 {
  font-weight: 400;
  font-size: 1.0769230769em;
  color: #253343;
}
.item-product__img {
  width: 140px;
  height: 185px;
  display: block;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 18px;
  overflow: hidden;
}
.item-product__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item-product .new {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #98C200;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 10px;
  color: #FFFFFF;
}
.item-product .timer_post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-product .timer_post__line {
  background: rgba(254, 65, 65, 0.1);
  border-radius: 8px;
  width: 105px;
  height: 4px;
  position: relative;
}
.item-product .timer_post__line span {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  background: #FE4141;
  border-radius: 8px;
}
.item-product .timer_post__day {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1.3px;
  font-weight: 400;
  font-size: 10px;
  color: #FE4040;
}
.item-product.blur {
  filter: blur(3px);
}
.item-product.scale {
  transform: scale(1.09);
}

@media screen and (max-width: 1299.98px) {
  .list_categoris {
    column-gap: 66px;
  }
}
@media screen and (max-width: 991.98px) {
  footer .footer-bottom {
    flex-direction: column;
    gap: 30px;
  }
  footer .footer-bottom .info-site {
    max-width: 100%;
  }
  footer .footer-top {
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 40px;
  }
  footer .footer-top .mailchimp {
    width: 100%;
    align-items: center;
  }
  .list_categoris {
    column-gap: 55px;
  }
  .list_best_sellers .banner {
    display: none;
  }
  .list_best_sellers .list_product {
    width: 100%;
  }
  .slider_header .owl-stage-outer {
    height: auto;
  }
  .mb-80 {
    margin-bottom: 40px;
  }
  .mb-100 {
    margin-bottom: 40px;
  }
  .swiper_category_product {
    margin-bottom: 40px;
  }
  .header_products_offer {
    flex-wrap: wrap;
    gap: 20px;
    height: 100px;
    margin-bottom: 0;
  }
  .header_products_offer .tab-title {
    order: 3;
    flex-basis: 100%;
  }
  .header_products_offer__title {
    flex-grow: 1;
  }
  .box_offer_day .offer_day_head {
    flex-direction: column;
    align-items: unset;
    gap: 20px;
  }
  .box_offer_day .offer_day_head .timer {
    width: 100%;
  }
  .box-featured-footer {
    padding-bottom: 25px;
  }
  .feature-footer__list {
    gap: 10px;
  }
  .feature-footer__list li {
    flex-direction: column;
    gap: 15px;
  }
  .feature-footer__list li .about p {
    display: none;
  }
  .header .header-bottom .menu {
    display: none;
  }
  .header .header-bottom .search {
    display: block;
  }
  .header .header-bottom .call_us {
    display: none;
  }
  .header .header-top__right .search {
    display: none;
  }
  .header .header-top__left {
    gap: 10px;
  }
  .header .header-top__left .register {
    background: #eee;
    border-radius: 12px;
    padding: 9px;
  }
  .header .header-top__left .register .button {
    font-size: 1.3em;
  }
  .header .header-top__left .register .button span {
    display: none;
  }
  .header .header-top__left .call_us {
    display: block;
    background: #eee;
    border-radius: 12px;
    padding: 8px 9px;
    border: unset;
    font-size: 1.3em;
    line-height: 1;
  }
}
@media screen and (max-width: 767.98px) {
  body {
    font-size: 12px;
  }
  footer .footer-top {
    flex-wrap: wrap;
  }
  footer .footer-top .mailchimp {
    width: unset;
    align-items: unset;
  }
  .swiper_category_product .owl-stage-outer:before {
    display: none;
  }
  .swiper_category_product .owl-stage-outer:after {
    display: none;
  }
  .feature-footer__list {
    flex-wrap: wrap;
  }
  .feature-footer__list li {
    flex-basis: 46%;
    box-shadow: 1px 1px 10px 1px #eee;
    text-align: center;
  }
  .box-featured-footer::before {
    display: none;
  }
  .box_slider_header::before {
    display: none;
  }
  .navigation_slider.hero {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
  }
  .navigation_slider.hero .navigation_slider_arrow {
    padding: 10px 24px 7px;
  }
  .list_best_sellers .list_product::before {
    display: none;
  }
}
@media screen and (max-width: 575.98px) {
  .list_categoris {
    column-gap: 47px;
  }
  .header_products_offer__title {
    margin-left: unset;
    font-size: 1em;
  }
  .header_products_offer__link {
    font-size: 1.0769230769em;
  }
  .header .header-top__left .basket span {
    display: none;
  }
  .header-slider span {
    font-size: 1.5384615385em;
  }
}
@media screen and (max-width: 515.98px) {
  .list_categoris {
    column-gap: 23px;
  }
  .list_categoris .item_categoris {
    width: 46%;
  }
}
@media screen and (max-width: 319.98px) {
  .list_categoris {
    column-gap: 25px;
  }
  .list_categoris .item_categoris {
    width: 45%;
  }
}
@media screen and (max-width: 270.98px) {
  .list_categoris {
    column-gap: 25px;
  }
  .list_categoris .item_categoris {
    width: 100%;
  }
}
@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -15deg;
  }
  99% {
    rotate: 5deg;
  }
  100% {
    rotate: 0deg;
  }
}

/*# sourceMappingURL=styles.css.map */
